{% extends "base.html" %}

{% block content %}
    <div class="container mx-auto p-6">
        <h1 class=" my-10 text-poppins text-5xl">Detailed Explanation of <span class="font-bold font-poppins text-primary">Algolyzer</span> Models</h1>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            {% comment %} sentiment analysis {% endcomment %}
            <a href="{% url 'sentiment_analysis_study' %}" class="card bg-base-200 shadow-xl lg:p-4 hover:bg-base-300 border-solid border-primary border-2 hover:border-secondary">
                <div class="card-body">
                    <h3 class="text-3xl font-semibold capitalize">Sentiment Analysis</h3>

                    <div class="stats stats-vertical lg:stats-horizontal shadow">
                        <div class="stat">
                            <div class="stat-figure text-primary">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        class="inline-block h-8 w-8 stroke-current">
                                    <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                            </div>
                            <div class="stat-title">Avg Time To Read</div>
                            <div class="stat-value text-primary">7 Mins</div>
                            <div class="stat-desc"></div>
                        </div>

                        <div class="stat">
                            <div class="stat-title">Appx. Words</div>
                            <div class="stat-value text-secondary">1,200</div>
                            <div class="stat-desc"></div>
                        </div>
                    </div>
                </div>
            </a>

            {% comment %} Doodle Classifier {% endcomment %}
            <a href="{% url 'doodle_classifier_study' %}" class="card bg-base-200 shadow-xl lg:p-4 hover:bg-base-300 border-solid border-primary border-2 hover:border-secondary">
                <div class="card-body">
                    <h3 class="text-3xl font-semibold capitalize">Doodle Classifier</h3>
                    <div class="stats stats-vertical lg:stats-horizontal shadow">
                        <div class="stat">
                            <div class="stat-figure text-primary">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        class="inline-block h-8 w-8 stroke-current">
                                    <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                            </div>
                            <div class="stat-title">Avg Time To Read</div>
                            <div class="stat-value text-primary">4 Mins</div>
                            <div class="stat-desc"></div>
                        </div>

                        <div class="stat">
                            <div class="stat-title">Appx. Words</div>
                            <div class="stat-value text-secondary">550</div>
                            <div class="stat-desc"></div>
                        </div>
                    </div>
                </div>
            </a>

            {% comment %} Linear Regression {% endcomment %}
            <a href="{% url 'linear_regression_study' %}" class="card bg-base-200 shadow-xl lg:p-4 hover:bg-base-300 border-solid border-primary border-2 hover:border-secondary">
                <div class="card-body">
                    <h3 class="text-3xl font-semibold capitalize">Linear Regression</h3>
                    <div class="stats stats-vertical lg:stats-horizontal shadow">
                        <div class="stat">
                            <div class="stat-figure text-primary">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        class="inline-block h-8 w-8 stroke-current">
                                    <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                            </div>
                            <div class="stat-title">Avg Time To Read</div>
                            <div class="stat-value text-primary">3 Mins</div>
                            <div class="stat-desc"></div>
                        </div>

                        <div class="stat">
                            <div class="stat-title">Appx. Words</div>
                            <div class="stat-value text-secondary">500</div>
                            <div class="stat-desc"></div>
                        </div>
                    </div>
                </div>
            </a>

            {% comment %} K-Means Clustering {% endcomment %}
            <a href="{% url 'k_means_clustering' %}" class="card bg-base-200 shadow-xl lg:p-4 hover:bg-base-300 border-solid border-primary border-2 hover:border-secondary">
                <div class="card-body">
                    <h3 class="text-3xl font-semibold capitalize">K-Means Clustering</h3>
                    <div class="stats stats-vertical lg:stats-horizontal shadow">
                        <div class="stat">
                            <div class="stat-figure text-primary">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        class="inline-block h-8 w-8 stroke-current">
                                    <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                            </div>
                            <div class="stat-title">Avg Time To Read</div>
                            <div class="stat-value text-primary">4 Mins</div>
                            <div class="stat-desc"></div>
                        </div>

                        <div class="stat">
                            <div class="stat-title">Appx. Words</div>
                            <div class="stat-value text-secondary">550</div>
                            <div class="stat-desc"></div>
                        </div>
                    </div>
                </div>
            </a>

            {% comment %} SVM Regression {% endcomment %}
            <a href="{% url 'svm_regression' %}" class="card bg-base-200 shadow-xl lg:p-4 hover:bg-base-300 border-solid border-primary border-2 hover:border-secondary">
                <div class="card-body">
                    <h3 class="text-3xl font-semibold capitalize">SVM Regression</h3>
                    <div class="stats stats-vertical lg:stats-horizontal shadow">
                        <div class="stat">
                            <div class="stat-figure text-primary">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        fill="none"
                                        viewBox="0 0 24 24"
                                        class="inline-block h-8 w-8 stroke-current">
                                    <path
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                            </div>
                            <div class="stat-title">Avg Time To Read</div>
                            <div class="stat-value text-primary">4 Mins</div>
                            <div class="stat-desc"></div>
                        </div>

                        <div class="stat">
                            <div class="stat-title">Appx. Words</div>
                            <div class="stat-value text-secondary">600</div>
                            <div class="stat-desc"></div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}