{% extends 'base.html' %}

{% block content %}
  <div class="bg-base-200">
    <div class="container mx-auto text-center flex flex-col items-center justify-center min-h-[85vh] lg:min-h-[95vh]">
      <p>Welcome to</p>
      <h1 class="text-6xl md:text-9xl font-bold">Algolyzer</h1>
      <p class="py-6 max-w-lg">Master Machine Learning and AI with Algolyzer—an interactive playground packed with hands-on quizzes and engaging tools to make learning smarter, faster, and fun!</p>
      <div class="flex gap-2 lg:gap-5">
          <button class="btn btn-outline">Contribute</button>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
{% endblock %}
