{% extends "base.html" %}

{% block content %}
<div class="max-w-5xl mx-auto my-5 p-2 bg-base-200 shadow-lg ">
    <div class="p-2 lg:p-5 rounded-xl border-2 border-solid border-primary">
        <h1 class="text-4xl font-bold text-center my-5">Sentiment Analysis</h1>
        
        <!-- Form -->
        <form method="POST" class="space-y-4">
            {% csrf_token %}
            <label class="block text-lg font-semibold px-4">Enter your prompt:</label>
            <textarea 
                name="input_data" 
                class="textarea textarea-bordered w-full min-h-[120px]" 
                placeholder="Type your input here..."
                required></textarea>
            <button class="btn btn-primary w-full">Submit</button>
        </form>

        <!-- Previous Results -->
        <div class="mt-6">
            <h2 class="text-xl font-semibold mb-3 px-4">Previous Results</h2>
            <div class="join join-vertical w-full">
                {% for result in previous_results %}
                <div class="collapse collapse-arrow bg-base-100 rounded-lg shadow-md border-2 border-solid border-primary my-2 hover:border-secondary">
                    <input type="radio" name="results" />
                    <div class="collapse-title text-lg font-medium">
                        Prompt: {{ result.input_data|truncatechars:50 }}
                    </div>
                    <div class="collapse-content flex items-center justify-center">
                        <div class="stats stats-vertical lg:stats-horizontal shadow">
                            <div class="stat place-items-center">
                              <div class="stat-title">Status</div>
                              <div class="stat-value text-primary">{{ result.status }}</div>
                              <div class="stat-desc">Failed | Completed</div>
                            </div>
                          
                            <div class="stat place-items-center">
                              <div class="stat-title">Result</div>
                              <div class="stat-value text-accent">{{ result.result.label }}</div>
                              <div class="stat-desc">Positive | Negative</div>
                            </div>
                          
                            <div class="stat place-items-center">
                              <div class="stat-title">Score</div>
                              <div class="stat-value">{{ result.result.score|truncatechars:7 }}</div>
                              <div class="stat-desc">Between 0 to 1</div>
                            </div>
                          </div>
                    </div>
                </div>
                {% empty %}
                <p class="text-gray-500">No previous results available.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}